In [4]:
nums= []
a = int(input("please enter a number :"))
b = int(input("please enter a number :"))
c = int(input("please enter a number :"))
nums.extend([a,b,c])
print(nums[0] + nums[1] + nums[2])
print(sum(nums))

12
12

# Tuple

In [9]:
data = (3,6,1,3,5)
print(data)
print(type(data))

# slicing
print(data[3])

# data[3] = 7 ERROR

(3, 6, 1, 3, 5)
<class 'tuple'>
3

# dictionary

In [ ]:
# data = {Key:Value}
# Key --> can be int or str
# Value --> can be any python object

data = {"Name":"Islam", "ID":123456 , 123:111}
print(data)
print(type(data))

# Slicing
print(data['Name'])
print(data[123])

# Modify
data['ID'] = 333444
print(data)

# Adding new items
data["City"] = "6 October"
print(data)
data["City"] = "Cairo"
print(data)

data.setdefault("Gender","Male")
print(data)
data.setdefault("Gender","MALE")
print(data)

tmp = {1:123 , 2:456}
data.update(tmp)
print(data)

{'Name': 'Islam', 'ID': 123456, 123: 111}
<class 'dict'>
Islam
111
{'Name': 'Islam', 'ID': 333444, 123: 111}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': '6 October'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male', 1: 123, 2: 456}

In [25]:
data = {'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male'}

# remove items
data.pop("City")
print(data)

data.popitem()
print(data)

# data.clear()
# print(data)

print(data.keys())
print(data.values())
print(data.items())

{'Name': 'Islam', 'ID': 333444, 123: 111, 'Gender': 'Male'}
{'Name': 'Islam', 'ID': 333444, 123: 111}
dict_keys(['Name', 'ID', 123])
dict_values(['Islam', 333444, 111])
dict_items([('Name', 'Islam'), ('ID', 333444), (123, 111)])

In [ ]:
# Shallow Copy
d1 = {"ID":123, "Name":"Ahmed"}
d2 = d1
d2.setdefault("City","Cairo")
print(d1)
print(d2)

{'ID': 123, 'Name': 'Ahmed', 'City': 'Cairo'}
{'ID': 123, 'Name': 'Ahmed', 'City': 'Cairo'}

In [27]:
# Deep Copy
d1 = {"ID":123, "Name":"Ahmed"}
d2 = d1.copy()
d2.setdefault("City","Cairo")
print(d1)
print(d2)

{'ID': 123, 'Name': 'Ahmed'}
{'ID': 123, 'Name': 'Ahmed', 'City': 'Cairo'}

# Set

In [35]:
nums = {23,54,23,5,668,34}
print(nums)
print(type(nums))

tmp = {23,7,6,5}
print(tmp.difference(nums))
print(nums.difference(tmp))

print(nums.union(tmp))

print(nums.intersection(tmp))

{34, 5, 54, 23, 668}
<class 'set'>
{6, 7}
{34, 668, 54}
{34, 5, 6, 7, 54, 23, 668}
{5, 23}