# String

In [15]:
name  = "ISlam"

print(name)

# Add / Multiply
print("Hello "+name) # Concatination
print(name *3) # Retitition

# Slicing
print(name[1])
print(name[3])
print(name[1:4])
print(name[:3])
print(name[2:])

print(name[-1])
print(name[-3])

#Step Size
print(name[0:5:2])

ISlam
Hello ISlam
ISlamISlamISlam
S
a
Sla
ISl
lam
m
l
Ilm

# Input

In [16]:
number  = input()
print(number)

50

In [17]:
number = input("Please enter a number :")
print(number)

40

In [18]:
number = input("Please enter a number: ")
print(number * 3)

505050

In [21]:
# Casting
# int() , float()
# number = input("Please enter a number :")
# number  = int(number)
number  = int(input("please enter a number :"))
print(number * 3)

150

In [22]:
number  = 50
number = "fifty"
print(number)

fifty

In [24]:
x = int(input("Please enter a number :"))
y = int(input("Please enter a number :"))
print(x+y)

9

# Data Structure

In [ ]:
# Data Structure
# Sequantial ==> List , Tuple
# Non-Seqential ==> Dict , Set

# List

In [33]:
# Create a list
nums = [1,2,4,"Islam"]

print(nums)

# Slicing
print(nums[0])
print(nums [2])

# Modification
nums[3] = 5
print(nums)

# Add new items
nums.append(10)
print(nums)

nums.insert(2,3)
print(nums)

tmp = [7,8,9]
# nums.append(tmp) [1, 2, 3, 4, 5, 10, [7, 8, 9]]
nums.extend(tmp)
print(nums)

[1, 2, 4, 'Islam']
1
4
[1, 2, 4, 5]
[1, 2, 4, 5, 10]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 7, 8, 9]

In [49]:
nums = [1, 2, 3, 4, 5, 10, 7, 8, 9]

# Remove items
nums.pop()
print(nums)

nums.pop(2)
print(nums)

nums.remove(10)
print(nums)

# Sorting
names = ["Hany", "Dina" , "Ahmed"]
names.sort()
print(names)

numbers = [35,67,2,23,56,67,34,3]
numbers.sort()
print(numbers)

numbers = [35,67,2,23,56,67,34,3]
numbers.sort(reverse=True)
print(numbers)

print(numbers.index(34))

# clear the whole list
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 10, 7, 8]
[1, 2, 4, 5, 10, 7, 8]
[1, 2, 4, 5, 7, 8]
['Ahmed', 'Dina', 'Hany']
[2, 3, 23, 34, 35, 56, 67, 67]
[67, 67, 56, 35, 34, 23, 3, 2]
4
[]