In [26]:
# Nested List
nums = [[1,2,3],[4,5,6]]
print(nums)
print(nums[0])
print(nums[0][2])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
3

In [4]:
nums= []
a = int(input("please enter a number :"))
b = int(input("please enter a number :"))
c = int(input("please enter a number :"))
nums.extend([a,b,c])
print(nums[0] + nums[1] + nums[2])
print(sum(nums))

12
12

# Tuple

In [9]:
data = (3,6,1,3,5)
print(data)
print(type(data))

# slicing
print(data[3])

# data[3] = 7 ERROR

(3, 6, 1, 3, 5)
<class 'tuple'>
3

# dictionary

In [ ]:
# data = {Key:Value}
# Key --> can be int or str
# Value --> can be any python object

data = {"Name":"Islam", "ID":123456 , 123:111}
print(data)
print(type(data))

# Slicing
print(data['Name'])
print(data[123])

# Modify
data['ID'] = 333444
print(data)

# Adding new items
data["City"] = "6 October"
print(data)
data["City"] = "Cairo"
print(data)

data.setdefault("Gender","Male")
print(data)
data.setdefault("Gender","MALE")
print(data)

tmp = {1:123 , 2:456}
data.update(tmp)
print(data)

{'Name': 'Islam', 'ID': 123456, 123: 111}
<class 'dict'>
Islam
111
{'Name': 'Islam', 'ID': 333444, 123: 111}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': '6 October'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male'}
{'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male', 1: 123, 2: 456}

In [25]:
data = {'Name': 'Islam', 'ID': 333444, 123: 111, 'City': 'Cairo', 'Gender': 'Male'}

# remove items
data.pop("City")
print(data)

data.popitem()
print(data)

# data.clear()
# print(data)

print(data.keys())
print(data.values())
print(data.items())

{'Name': 'Islam', 'ID': 333444, 123: 111, 'Gender': 'Male'}
{'Name': 'Islam', 'ID': 333444, 123: 111}
dict_keys(['Name', 'ID', 123])
dict_values(['Islam', 333444, 111])
dict_items([('Name', 'Islam'), ('ID', 333444), (123, 111)])

In [ ]:
# Shallow Copy
d1 = {"ID":123, "Name":"Ahmed"}
d2 = d1
d2.setdefault("City","Cairo")
print(d1)
print(d2)

{'ID': 123, 'Name': 'Ahmed', 'City': 'Cairo'}
{'ID': 123, 'Name': 'Ahmed', 'City': 'Cairo'}

In [27]:
# Deep Copy
d1 = {"ID":123, "Name":"Ahmed"}
d2 = d1.copy()
d2.setdefault("City","Cairo")
print(d1)
print(d2)

{'ID': 123, 'Name': 'Ahmed'}
{'ID': 123, 'Name': 'Ahmed', 'City': 'Cairo'}

# Set

In [35]:
nums = {23,54,23,5,668,34}
print(nums)
print(type(nums))

tmp = {23,7,6,5}
print(tmp.difference(nums))
print(nums.difference(tmp))

print(nums.union(tmp))

print(nums.intersection(tmp))

{34, 5, 54, 23, 668}
<class 'set'>
{6, 7}
{34, 668, 54}
{34, 5, 6, 7, 54, 23, 668}
{5, 23}

# Control Flow 
- Conditional ==> if, elif , else
- Loops ==> for , while

In [4]:
# IF condition
# Syntax
# if (Condition_1):
#     Statement_1      Statement_1 is executed only if condition_1 is True
# elif (Condition_2):
#     Statement_2      Statement_2 is executed if condition_1 is False and 
#                      condition_2 is True
# else : 
#     Statement_3      Statement_3 is execued only if condition_1 and 2 are False
#                       (Default Case)
x = 5
if x >5 :
    print("X is larger than five")
elif x < 5:
    print("X is smaller than five")
else:
    print("X is equal to five")

X is equal to five

In [5]:
a = int(input("please enter a numebr :"))
b = int(input("please enter a numebr :"))

if a+b > 50:
    print("OK")
else:
    print("NOK")

OK

In [8]:
grade = 80

if grade > 90 :
    print("A")
if grade >= 80 :
    print("B")
if grade >= 70:
    print("C")

B
C

In [9]:
grade = 80

if grade > 90 :
    print("A")
elif grade >= 80 :
    print("B")
elif grade >= 70:
    print("C")

B

# For Loop

In [10]:
# Syntax
# for (iterator) in (iterable):
#           (Statement Block)

for i in [3,4,5]:
    print(i)

3
4
5

In [11]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [15]:
# generators
# range
print(list(range(10)))
print(list(range(2,12)))
print(list(range(2,12,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 5, 8, 11]

In [16]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [31]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# pass, break , continue

for i in range(5):
    if i == 3:
        pass
    else:
        print(i)

0
1
2
4

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [9]:
for i in range(5):
    if i ==2:
        break
    print(i)

0
1

In [10]:
x = int(input("Please enter a number:"))
y = int(input("Please enter a number:"))
tmp = []
for i in range(x,y+1):
    if i%2==0:
        tmp.append(i)

print(tmp)

[24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
x = int(input("Please enter a number :"))
y = int(input("Please enter a number :"))
for i in range(x,y+1):
    print(i)
    if i%4 == 0:
        break

19
20

In [39]:
# True , False 
if -5 :
    print("HEllo")

HEllo

In [41]:
i = 21
i%4

1