In [ ]:
!pip install mysql-connector-python

In [1]:
from mysql import connector

mydb = connector.connect(
  host="localhost",
  user="root",
  password="root",
  port = "3306"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026260CD7E00>

In [2]:
cursor = mydb.cursor()
cursor.execute("SHOW DATABASES")
# print(cursor.fetchall())
for db in cursor:
    print(db)

('debi',)
('debi_2',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

Create Database

In [49]:
cursor.execute("DROP DATABASE debi_2")

In [50]:
cursor = mydb.cursor()
cursor.execute("CREATE DATABASE debi_2")
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

('debi',)
('debi_2',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
mydb.cursor().execute("USE debi")

In [5]:
cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
for t in cursor:
    print(t)

('employee',)

In [6]:
mydb.close()

Connect Database

In [1]:
from mysql import connector
debi_db = connector.connect(
    host = "localhost",
    username = "root",
    password = "root",
    database = "debi"
)
print(debi_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002594DBE7EC0>

Create Table

In [3]:
cursor  = debi_db.cursor()
# cursor.execute("DROP TABLE employee")
cursor.execute("CREATE TABLE employee(Name VARCHAR(20), ID VARCHAR(20), DOB DATE);")

In [4]:
# list all tables
cursor.execute("SHOW TABLES")
for t in cursor:
    print(t)

('employee',)

In [5]:
# list columns of the table
cursor.reset()
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'employee' ")
for n in cursor:
    print(n)

('Name',)
('ID',)
('DOB',)

In [6]:
# Drop Table
cursor.execute("DROP TABLE employee")
cursor.execute("SHOW TABLES")
for t in cursor:
    print(t)

ALtering columns configs

In [7]:
cursor  = debi_db.cursor()
cursor.execute("CREATE TABLE employee(Name VARCHAR(20), ID VARCHAR(20), DOB DATE);")

In [8]:
cursor.execute("ALTER TABLE employee ADD (Address VARCHAR(50))")

In [9]:
# list columns of the table
cursor.reset()
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'employee' ")
for n in cursor:
    print(n)

('Name',)
('ID',)
('DOB',)
('Address',)

Insert

In [10]:
cursor.execute("INSERT INTO employee (Name,ID,DOB,Address) VALUES ('Islam','123','1993-03-25','6 October')")

In [12]:
cursor.execute("INSERT INTO employee (Name,ID,DOB) VALUES ('Islam','123','1993-03-25')")

In [13]:
cursor.execute("SELECT * FROM employee")
for data in cursor:
    print(data)

('Islam', '123', datetime.date(1993, 3, 25), '6 October')
('Islam', '123', datetime.date(1993, 3, 25), None)

Insert Many rows

In [33]:
query = "INSERT INTO employee (Name,ID,DOB,Address) VALUES (%s,%s,%s,%s)"
values = [
    ('Islam','123','1993-03-25','6 October'),
    ('Ahmed','125','1997-03-25','Giza'),
    ('Hany','126','1998-03-25','Cairo')
]

cursor.executemany(query,values)

In [ ]:
cursor.execute("SELECT * FROM employee")
for data in cursor:
    print(data)