In [2]:
from mysql.connector import connect

mydb = connect(
    user="root",
    password="root",
    host="localhost",
    database = "debi"
)
mydb.is_connected()

True

In [3]:
cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
for d in cursor:
    print(d)

('customer',)
('data',)
('employee',)
('info',)
('mobile',)
('mobile_data',)
('salaries',)
('salary',)

In [6]:
cursor.execute("""
    CREATE VIEW first_five
    AS SELECT * FROM mobile
    WHERE id<=5
""")

In [7]:
cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
for d in cursor:
    print(d)

('customer',)
('data',)
('employee',)
('first_five',)
('info',)
('mobile',)
('mobile_data',)
('salaries',)
('salary',)

In [10]:
cursor.execute("SHOW COLUMNS FROM mobile")
columns = [column[0] for column in cursor.fetchall()]
print(columns)
cursor.execute("""
SELECT * FROM first_five
""")

for d in cursor:
    print(d)

['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g', 'touch_screen', 'wifi']
(1, 1043, 1, 1.8, 1, 14, 0, 5, 0.1, 193, 3, 16, 226, 1412, 3476, 12, 7, 2, 0, 1, 0)
(2, 841, 1, 0.5, 1, 4, 1, 61, 0.8, 191, 5, 12, 746, 857, 3895, 6, 0, 7, 1, 0, 0)
(3, 1807, 1, 2.8, 0, 1, 0, 27, 0.9, 186, 3, 4, 1270, 1366, 2396, 17, 10, 10, 0, 1, 1)
(4, 1546, 0, 0.5, 1, 18, 1, 25, 0.5, 96, 8, 20, 295, 1752, 3893, 10, 0, 7, 1, 1, 0)
(5, 1434, 0, 1.4, 0, 11, 1, 49, 0.5, 108, 6, 18, 749, 810, 1773, 15, 8, 7, 1, 0, 1)

In [11]:
cursor.execute("""
    SELECT * FROM salaries

""")
for d in cursor:
    print(d)

(1, 'Alice', 50000)
(2, 'Bob', 60000)
(3, 'Charlie', 70000)
(6, 'Hassan', 50000)

In [12]:
cursor.execute("""
    CREATE VIEW salaries_names AS
    SELECT i.name, i.age, s.salary
    FROM info i 
    INNER JOIN salaries s ON i.id=s.id

""")

In [13]:
cursor.execute("SHOW COLUMNS FROM salaries_names")
columns = [column[0] for column in cursor.fetchall()]
print(columns)
cursor.execute("""
SELECT * FROM salaries_names
""")

for d in cursor:
    print(d)

['name', 'age', 'salary']
('Alice', 25, 50000)
('Bob', 30, 60000)
('Charlie', 35, 70000)

DATE TIME Functions

In [14]:
cursor.execute("""
    CREATE TABLE datetime_practice (
        id INT AUTO_INCREMENT PRIMARY KEY,
        event_name VARCHAR(255),
        event_date DATE,
        event_time TIME,
        event_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
""")
print("Table 'datetime_practice' created successfully.")

Table 'datetime_practice' created successfully.

In [15]:
cursor.execute("""
    INSERT INTO datetime_practice (event_name, event_date, event_time)
    VALUES 
    ('Event 1', '2023-10-01', '10:00:00'),
    ('Event 2', '2023-10-02', '11:00:00'),
    ('Event 3', '2023-10-03', '12:00:00')
""")
mydb.commit()
print("Data inserted successfully.")

Data inserted successfully.

In [17]:
cursor.execute("""
    SELECT DAY(event_date) FROM datetime_practice
""")

for d in cursor:
    print(d)

(1,)
(2,)
(3,)

In [18]:
cursor.execute("""
    SELECT event_timestamp FROM datetime_practice
""")

for d in cursor:
    print(d)

(datetime.datetime(2025, 1, 4, 20, 24, 17),)
(datetime.datetime(2025, 1, 4, 20, 24, 17),)
(datetime.datetime(2025, 1, 4, 20, 24, 17),)

In [20]:
cursor.execute("""
    SELECT DATE_ADD(event_date, INTERVAL 3 DAY) FROM datetime_practice
""")

for d in cursor:
    print(d)

(datetime.date(2023, 10, 4),)
(datetime.date(2023, 10, 5),)
(datetime.date(2023, 10, 6),)

In [26]:
cursor.execute("""
    SELECT FROM_DAYS(DATEDIFF(CURRENT_DATE, event_date)) FROM datetime_practice
""")

for d in cursor:
    print(d)

(datetime.date(1, 4, 6),)
(datetime.date(1, 4, 5),)
(datetime.date(1, 4, 4),)

Line Magic

In [29]:
%pwd
%ls

 Volume in drive D is Data
 Volume Serial Number is DC39-4B3E

 Directory of d:\CLS\DEBI_Python\SQL

01/04/2025  06:23 PM    <DIR>          .
12/20/2024  03:46 PM    <DIR>          ..
12/28/2024  06:24 PM    <DIR>          __pycache__
12/28/2024  08:30 PM    <DIR>          data
12/21/2024  08:42 PM            10,517 Session1.ipynb
12/25/2024  08:54 PM           362,385 Session2.ipynb
01/03/2025  11:28 AM            14,273 Session3.ipynb
01/04/2025  08:49 PM             8,808 Session4.ipynb
               4 File(s)        395,983 bytes
               4 Dir(s)  423,520,755,712 bytes free

In [30]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\engsm\miniconda3\lib\site-packages (from ipython-sql) (8.12.3)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\engsm\miniconda3\lib\site-packages (from ipython-sql) (2.0.36)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\engsm\miniconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\engsm\miniconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\engsm\miniconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: backcall in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pickleshare in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\engsm\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\engsm\miniconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\engsm\miniconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\engsm\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\engsm\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\engsm\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   --------------------------- ------------ 30.7/44.4 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 44.4/44.4 kB 727.1 kB/s eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.12.0 sqlparse-0.5.3

In [31]:
%load_ext sql

In [37]:
%sql mysql://root:root@localhost/debi

Traceback (most recent call last):
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 599, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sqlalchemy\dialects\mysql\mysqldb.py", line 147, in import_dbapi
    return __import__("MySQLdb")
           ^^^^^^^^^^^^^^^^^^^^^
ModuleNotFoundError: No module named 'MySQLdb'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+mysqlconnector://root:***@localhost/debi'])
Traceback (most recent call last):
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 599, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\engsm\miniconda3\Lib\site-packages\sqlalchemy\dialects\mysql\mysqldb.py", line 147, in import_dbapi
    return __import__("MySQLdb")
           ^^^^^^^^^^^^^^^^^^^^^
ModuleNotFoundError: No module named 'MySQLdb'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+mysqlconnector://root:***@localhost/debi'])

In [38]:
%sql SELECT * FROM info

 * mysql+mysqlconnector://root:***@localhost/debi
4 rows affected.

KeyError: 'DEFAULT'